<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9024f892-e853-4a20-93fa-05939f648f99/resourceGroups/final-task/providers/Microsoft.Web/sites/web-app-final-shop</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://web-app-final-shop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>227cf035-29b0-448d-97e4-944f9ea850e5</ProjectGuid>
    <PublishUrl>https://web-app-final-shop.scm.azurewebsites.net/</PublishUrl>
    <UserName>$web-app-final-shop</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>